<mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>

        <div fxLayoutAlign="start center" fxLayout="row" fxFlex="0 0 auto">
            <span class="mat-caption">Copyright &copy; 2018 Blocksale. All Rights Reserved.</span>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
            <a mat-button href="." target="_blank">version {{ version }}</a>
        </div>

    </div>

</mat-toolbar>